@import url("https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&family=Raleway&display=swap");

.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2f74c0;
    font-family: "Raleway", sans-serif;
}

.heading {
    text-transform: uppercase;
    font-size: 40px;
    margin: 30 px 0;
    color: #fff;
    z-index: 1;
    text-align: center;
}

@media (max-width: 768px) {
    .heading {
        margin: 20px 0;
        font-size: 30px;
    }
}
